.card {
	min-width: 320px;
	display: flex;
	flex: 1 1 28%;
	gap: 30px;
	padding: 10px;
}

.itemImage {
	max-width: 150px;
	max-height: 150px;
	border-radius: 6px;
}

.itemInfo {
	display: flex;
	flex-direction: column;
}

.property {
	display: flex;
	align-items: center;
	gap: 6px;
}

span {
	color: gray;
}
